<div class="header">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h2>Productos</h2>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-info btn-lg float-right" data-toggle="modal" data-target="#addBtn">Agregar
          Producto</button>
      </div>
    </div>
    <hr>
    <div class="info-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Cat. Prodcuto</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody *ngFor="let product of products; index as i" >
          <tr ng-repeat="user in users">
            <td>{{i+1}}</td>
            <td>{{product.nombre}}</td>
            <td>{{product.marca}}</td>
            <td>{{product.precio}}</td>
            <td>{{product.idCatProducto}}</td>
            <td>
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editBtn">Editar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#dltBtn" (click)="eliminar(product)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="addBtn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form > 
          <div class="form-group row">
            <label for="NombreCategoria" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputNombre" placeholder="Nombre Producto">
            </div>
          </div>

          <div class="form-group row">
            <label for="MarcaProducto" class="col-sm-2 col-form-label">marca</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputMarca" placeholder="Marca Producto">
            </div>
          </div>
          <div class="form-group row">
            <label for="PrecioProducto" class="col-sm-2 col-form-label">Precio</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputPrecio" placeholder="Precio Producto">
            </div>
          </div>
          <div class="form-group row">
            <label for="CatProducto" class="col-sm-2 col-form-label">cat producto</label>
            <div class="col-sm-10">
              <select name="catProdcuto" id="inputCatProduct" class="form-control"> 
                <option *ngFor="let categoryProduct of categoryProducts; index as i"  value="{{categoryProduct.nombre}}">{{categoryProduct.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="ImagenCategoria" class="col-sm-2 col-form-label">Imagen</label>
            <div class="col-sm-10">
              <input type="file" class="form-control" accept=".png, .jpg, .jpeg"  id="inputImagen" value="upload" (change)="cambioArchivo($event)">
              <input #imageUser id="imageProduct" type="hidden" [value]="urlImage | async">
            </div>
            <br>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) +'%'">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="DescripcionCategoria" class="col-sm-2 col-form-label">Descripción</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputDescripcion" placeholder="Descripcion Producto">
            </div>
          </div>
          <div class="form-group row" *ngIf="isAlertE">
            <div class="col-sm-12">
                <div class="alert alert-warning" role="alert" >
                    Error de validacion, campos incorrectos!
                </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="isAlertC">
          <div class="col-sm-12">
              <div class="alert alert-success" role="alert">
                  Se añadio la categoria Exitosamente
                </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button *ngIf="urlImage | async; else btnDisable"  (click)="addProduct($event)" type="submit" class="btn btn-info" data-dismiss="modal">Guardar</button>
        <button type="button" (click)="restart($event)" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        <ng-template #btnDisable>
          <button type="button" disabled="true" (click)="addProduct($event)" class="btn btn-secondary" data-dismiss="modal">Guardar</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editBtn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="NombreProducto" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="nombre" placeholder="Nombre Categoria">
            </div>
          </div>
          <div class="form-group row">
            <label for="ImagenProducto" class="col-sm-2 col-form-label">Imagen</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="imagen" placeholder="Imagen Categoria">
            </div>
          </div>
          <div class="form-group row">
            <label for="PrecioProducto" class="col-sm-2 col-form-label">Precio</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="precio" placeholder="Precio Categoria">
            </div>
          </div>
          <div class="form-group row">
            <label for="DescripcionProducto" class="col-sm-2 col-form-label">Descripción</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="descripcion" placeholder="Descripcion Categoria">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info" data-dismiss="modal">Actualizar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dltBtn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger">¿Seguro que desea eliminar el producto?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Si</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>