<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<!-- Navbar content -->

	<a class="navbar-brand" href="#"></a>
	<img src="../../../assets/images/ecop.png" width="120" height="50" alt="">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">

			<li class="nav-item ">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Producto<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Blog</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contacto</a>
			</li>

		</ul>
		<div class="nav-item dropdown " *ngIf="!isLogged">
			<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				Login
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="#">Iniciar Sesion</a>
				<a class="dropdown-item" href="#">Registrarse</a>
				<!-- <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Something else here</a>-->
			</div>
		</div>
		<span class="navbar-text">
			modo logeado
		</span>
		<div class="nav-item dropdown " *ngIf="isLogged" >
			<a class="nav-link  " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
			aria-haspopup="true" aria-expanded="false">
			
				<img src="../../../assets/images/avatar.png" width="30" height="30" >
				<!--Logeado!!-->
			</a>
			
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="#">Configuración</a>
				<a class="dropdown-item" href="#">Cerrar sesión</a>
				<a class="dropdown-item" href="#">Otros</a>
				<a class="dropdown-item" href="#">Acerca</a>
				<!-- <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Something else here</a>-->
			</div>
		</div>
		


	</div>
</nav>