<footer class="page-footer font-small stylish-color-dark pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Acerca de </h5>
        <p>La pagina trata sobre tecnologia en general desde compras de dispositivos tecnologicos en
          general, productos en oferta y los productos mas comprados hasta una seccion que trata sobre 
          novedades tecnologicas.
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contactenos</h5>
        <ul class="list-unstyled">
          <li>
            <a >Correo electronico: 
                Tec_commerce@gmail.com</a>
          </li>
          <li>
            <a>Direccion:
              Cochabamba/Esteban arce/#567</a>
          </li>
          <li>
            <a>Telefono: 4334501</a>
          </li>
          <li>
            <a>Celular: 76712345</a>
          </li>
        </ul>

      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Explorar</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      
    </div>
  </div>
  <hr>
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Registrarse gratis</h5>
    </li>
    <li class="list-inline-item">
      <a href="#!" class="btn btn-danger btn-rounded">Registrarse</a>
    </li>
  </ul>
  <hr>
  
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
  </div>
 

</footer>
